$dark: #1c2525;
$white: #FFFFFF;
$grey: #f4f4f4;
$tetsuonando_black: #263030;
$october_sky: #8DA4A4;
$maui_mist: #EDF3F3;
$red: #E43130;

  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 

}
body{
    font-family: 'Roboto';
    max-width: 1440px;
    
}

#menu {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1.5px solid $grey;
    z-index: 3;
    list-style: none;
    margin: 0;
    padding: 0px 40px;
    background-color: #ffffff;
  
    li {
      text-align: center;
      padding: 10px 0px;
  
      a {
        color: $grey;
        text-decoration: none;
        font-size: 1.3rem;
        transition: all 0.5s;
        
      }
      &.active {
        a{
            color: $dark;
            font-weight: 900;
        }
        
      }
  
      &:hover{
        a{
            color: $dark;
            font-weight: 900;
        }
        
      }
    }
  }



.vertical-scrolling{
    text-align: center;
    font-size: 3rem;
    opacity:1;
    font-size: 3rem;
    transition: all 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
}

 


.page01{
    position: relative;
    
    h1 {
        position: absolute;
        padding: 20px 40px;
        bottom: 5%;
        font-size: 14rem;
        font-family: 'roboto';
        font-weight: 900;
        line-height: 1;
        text-align: left;
        color: $dark;
        opacity: 1 ;
        transform: translateY(50px);
        transition: all 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
    
        &.loaded {
            
            opacity: 1 ;
            transform: translateY(0px);
            transition: all 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
        }
        
      }
    
    p {
        position: absolute;
        padding: 20px 40px;
        top: 0;
        font-size: 2rem;
        text-align: left;
        color: $dark;
        opacity: 0.2 !important;
        transform: translateY(50px);
        transition: all 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
        &.loaded {
            opacity: 1 !important;
            transform: translateY(0px);
            transition: all 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
        }
    }
}

.page02{
    
    padding: 0px 80px;
    position: relative;
    display: flex;
    padding: 0px auto; 
    .personal{
        margin: 0 auto;
        padding-top: 40px;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        position: relative;
        
        .personal01, .personal02, .personal03{
            margin-bottom: 10px;
            a{
                display: inline-block;
                background-color: $grey;
                position: relative;
                margin: 10px;
                border-radius: 20px;
                p{
                    position: absolute;
                    z-index: 1;
                    bottom: 10px;
                    right: 15px;
                    text-align: center;
                    font-size: 0.8rem;
                    font-weight: 600;
                    text-decoration: none;
                    color: $dark;
                }
                
            }
            
        }
        .personal01{
            display: flex;
            flex-wrap: wrap;
            
            .pic{
                display: flex;
                justify-content: center;
                img{
                    width: 100%;
                    border-radius: 20px;
                }
            }
            .Information{
                transition: all .5s;
                p{
                    font-size: 1rem;
                    line-height: 1.5;
                    transition: all 0.5s ;
                }
                .JINJIN{
                    font-size: 1.8rem;
                }
                p:first-child{
                    opacity: 0.8;
                }
                p:last-child{
                    opacity: 0.1;
                    position: absolute;
                    z-index: 1;
                    top: 20px;
                    left: 20px;
                    text-align: left;
                    font-size: 1rem;
                    text-decoration: none;
                    color: $dark;
                    
                }
                &:hover{
                    background-color: #a1f0e6;
                    p:first-child{
                        color: #a1f0e6;
                    }
                    p:last-child{
                        opacity: 1;
                        color: $dark;
                    }
                }
                
                
            }
            .Work{
                transition: all .5s;
                
                p{
                    font-size: 1rem;
                    line-height: 1.5;
                    transition: all 0.5s ;
                }
                .JINJIN{
                    font-size: 1.8rem;
                }
                p:first-child{
                    opacity: 0.8;
                }
                p:nth-child(2){
                    opacity: 0.1;
                    position: absolute;
                    z-index: 1;
                    top: 20px;
                    left: 30px;
                    text-align: left;
                    font-size: 1rem;
                    text-decoration: none;
                    color: $dark;
                    
                }
                p:nth-child(3){
                    opacity: 0.1;
                    position: absolute;
                    z-index: 1;
                    top: 20px;
                    left: 230px;
                    text-align: left;
                    font-size: 1rem;
                    text-decoration: none;
                    color: $dark;
                    
                }
                p:nth-child(4){
                    opacity: 0.1;
                    position: absolute;
                    z-index: 1;
                    top: 20px;
                    right: 200px;
                    text-align: left;
                    font-size: 1rem;
                    text-decoration: none;
                    color: $dark;
                    
                }
                p:nth-child(5){
                    opacity: 0.1;
                    position: absolute;
                    z-index: 1;
                    top: 20px;
                    right: 20px;
                    text-align: left;
                    font-size: 1rem;
                    text-decoration: none;
                    color: $dark;
                    
                }
                &:hover{
                    background-color: #a1f0c3;
                    p:first-child{
                        color: #a1f0c3;
                    }
                    p{
                        opacity: 1;
                        color: $dark;
                    }
                }
                
                
            }
        }
        .personal02{
            .About{
                transition: all .5s;
                p{
                    font-size: 1rem;
                    line-height: 1.7;
                    transition: all 0.5s ;
                }
                .JINJIN{
                    font-size: 1.8rem;
                }
                p:first-child{
                    opacity: 0.8;
                }
                p:last-child{
                    opacity: 0.1;
                    position: absolute;
                    z-index: 1;
                    top: 20px;
                    left: 20px;
                    text-align: left;
                    font-size: 1rem;
                    text-decoration: none;
                    color: $dark;
                    
                }
                &:hover{
                    background-color: #f0eca1;
                    p:first-child{
                        color: #f0eca1;
                    }
                    p:last-child{
                        opacity: 1;
                        color: $dark;
                    }
                }
                
                
            }
            .Hard{
                transition: all .5s;
                p{
                    font-size: 1rem;
                    line-height: 1.5;
                    transition: all 0.5s ;
                }
                .JINJIN{
                    font-size: 1.8rem;
                }
                p:first-child{
                    opacity: 0.8;
                }
                p:nth-child(2){
                    opacity: 0.1;
                    position: absolute;
                    z-index: 1;
                    top: 20px;
                    left: 30px;
                    text-align: left;
                    font-size: 1rem;
                    text-decoration: none;
                    color: $dark;
                    
                }
                p:nth-child(3){
                    opacity: 0.1;
                    position: absolute;
                    z-index: 1;
                    top: 20px;
                    left: 250px;
                    text-align: left;
                    font-size: 1rem;
                    text-decoration: none;
                    color: $dark;
                    
                }
                p:nth-child(4){
                    opacity: 0.1;
                    position: absolute;
                    z-index: 1;
                    top: 20px;
                    right:80px;
                    text-align: left;
                    font-size: 1rem;
                    text-decoration: none;
                    color: $dark;
                    
                }
                
                &:hover{
                    background-color: #f0c3a1;
                    p:first-child{
                        color: #f0c3a1;
                    }
                    p{
                        opacity: 1;
                        color: $dark;
                    }
                }
                
                
            }
            
        }
        .personal03{
            .Soft{
                transition: all .5s;
                p{
                    font-size: 1rem;
                    line-height: 1.5;
                    transition: all 0.5s ;
                }
                .JINJIN{
                    font-size: 1.8rem;
                }
                p:first-child{
                    opacity: 0.8;
                }
                p:nth-child(2){
                    opacity: 0.1;
                    position: absolute;
                    z-index: 1;
                    top: 20px;
                    left: 30px;
                    text-align: left;
                    font-size: 1rem;
                    text-decoration: none;
                    color: $dark;
                    
                }
                p:nth-child(3){
                    opacity: 0.1;
                    position: absolute;
                    z-index: 1;
                    top: 20px;
                    left: 250px;
                    text-align: left;
                    font-size: 1rem;
                    text-decoration: none;
                    color: $dark;
                    
                }
                p:nth-child(4){
                    opacity: 0.1;
                    position: absolute;
                    z-index: 1;
                    top: 20px;
                    right:70px;
                    text-align: left;
                    font-size: 1rem;
                    text-decoration: none;
                    color: $dark;
                    
                }
                
                &:hover{
                    background-color: #fbb5b5;
                    p:first-child{
                        color: #fbb5b5;
                    }
                    p{
                        opacity: 1;
                        color: $dark;
                    }
                }
                
                
            }
            .Project{
                transition: all .5s;
                p{
                    font-size: 1rem;
                    line-height: 1.7;
                    transition: all 0.5s ;
                }
                .JINJIN{
                    font-size: 1.8rem;
                }
                p:first-child{
                    opacity: 0.8;
                }
                p:last-child{
                    opacity: 0.1;
                    position: absolute;
                    z-index: 1;
                    top: 20px;
                    left: 20px;
                    text-align: left;
                    font-size: 1rem;
                    text-decoration: none;
                    color: $dark;
                    
                }
                &:hover{
                    background-color: #bcd5f4;
                    p:first-child{
                        color: #bcd5f4;
                    }
                    p:last-child{
                        opacity: 1;
                        color: $dark;
                    }
                }
                
                
            }
            
            
            
        }
        
        
    }
    
}

.page03{
    padding: 0 70px;
    position: relative;
    display: flex;
    
    .block{
        display: flex;
        flex-wrap: wrap;
        a{
            position: relative;
            transition: transform 0.5s ease-in-out;
            img{
                width: 400px;
                height: 350px;
                position: relative;
                margin: 10px;
                border-radius: 20px;
                padding-top: 20px 20px;
                border: none;
                
            }
            img:nth-child(1){
                opacity: 1;
            }
            img:nth-child(2){
                position: absolute;
                opacity: 0;
                z-index: -3;
                top: 0;
                left: 0;
            }
            p{
                position: absolute;
                z-index: 4;
                bottom: 0px;
                right: -5px;
                text-align: center;
                font-size: 1.5rem;
                background-color: #ffffff;
                color: $dark;
                padding: 30px 40px;
                border-radius: 20px 0 0 0;
            }
            &:hover{
                img:nth-child(1){
                    opacity: 0;
                }
                img:nth-child(2){
                    opacity: 1;
                }
            }
            
        }
        a:nth-child(1){
            
            &:hover{
                transform: scale(0.95);
                img{
                    border: 2px solid #4df2b6;
                }
                p{
                    color: #4df2b6;
                    font-weight: 900;
                }
            }
        }
        a:nth-child(2){
            &:hover{
                transform: scale(0.95);
                img{
                    border: 2px solid #8DA4A4;
                }
                p{
                    color: #8DA4A4;
                }
            }
        }
        a:nth-child(3){
            &:hover{
                transform: scale(0.95);
                img{
                    border: 2px solid #414141;
                }
                p{
                    color: #414141;
                }
            }
        }
        a:nth-child(4){
            &:hover{
                transform: scale(0.95);
                img{
                    border: 2px solid #fff896;
                }
                p{
                    color: #fff896;
                }
            }
        }
        a:nth-child(5){
            &:hover{
                transform: scale(0.95);
                img{
                    border: 2px solid #ff5500;
                }
                p{
                    color: #ff5500;
                }
            }
        }
        a:nth-child(6){
            &:hover{
                transform: scale(0.95);
                img{
                    border: 2px solid #E43130;
                }
                p{
                    color: #E43130;
                }
            }
        }
       
        
    }
}

.page04{
    position: relative;
    .future{
        display: flex;
        justify-content: center;
        width: 100%;
        
        .me,
        .work,
        .Design{
            margin: 0px 10px;
            display: flex;
            background-color: $grey;
            width: 400px;
            height: 600px;
            text-align: center;
            justify-content: center;
            border-radius: 20px;
            position: relative;
            
            
            h3{
                padding: 20px 0;
                align-content: center;
                opacity: 1;
                transition: all 0.5s ;
            }
            .content{
                position: absolute;
                top: 10px;
                left: 30px;
                text-align: center;
                opacity: 0;
                transition: all 0.5s ;
                
                h4{
                    font-size: 2rem;
                    padding: 120px 0px 20px;
                }
                ul{
                    padding: 15px 30px;
                   li{
                    font-size: 1rem;
                    text-align: left;
                    } 
                }
                
            }
            
            
            
        }
        .me{
            border: 2px solid #4f7e58;
            h3{
                color: #4f7e58;
            }
            &:hover{
                background-color: #4f7e58;
                color: $white;
                h3{
                    opacity: 0;
                }
                .content{
                    opacity: 1;
                   
                }
                
            }
        }
        .work{
            border: 2px solid $red;
            h3{
                color: $red;
            }
            &:hover{
                background-color: $red;
                color: $white;
                h3{
                    opacity: 0;
                }
                .content{
                    opacity: 1;
                   
                }
                
            }
        }
        .Design{
            border: 2px solid #1d7ba0;
            h3{
                color: #1d7ba0;
            }
            &:hover{
                background-color: #1d7ba0;
                color: $white;
                h3{
                    opacity: 0;
                }
                .content{
                    opacity: 1;
                   
                }
                
            }
        }
        
        
        
        
    }
}



@media screen and (min-width:1500px) and (max-width:1980px) { 
    body{
        max-width: 1600px;
        
    }
    .future{
        justify-content: flex-start;
    }
    .page01, .page02, .page03{
        left: 250px;
    }
    
    .page04{
        left: 300px;
    }
}

  



