* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  max-width: 1440px;
}

#menu {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1.5px solid #f4f4f4;
  z-index: 3;
  list-style: none;
  margin: 0;
  padding: 0px 40px;
  background-color: #ffffff;
}
#menu li {
  text-align: center;
  padding: 10px 0px;
}
#menu li a {
  color: #f4f4f4;
  text-decoration: none;
  font-size: 1.3rem;
  transition: all 0.5s;
}
#menu li.active a {
  color: #1c2525;
  font-weight: 900;
}
#menu li:hover a {
  color: #1c2525;
  font-weight: 900;
}

.vertical-scrolling {
  text-align: center;
  font-size: 3rem;
  opacity: 1;
  font-size: 3rem;
  transition: all 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.page01 {
  position: relative;
}
.page01 h1 {
  position: absolute;
  padding: 20px 40px;
  bottom: 5%;
  font-size: 14rem;
  font-family: "roboto";
  font-weight: 900;
  line-height: 1;
  text-align: left;
  color: #1c2525;
  opacity: 1;
  transform: translateY(50px);
  transition: all 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}
.page01 h1.loaded {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}
.page01 p {
  position: absolute;
  padding: 20px 40px;
  top: 0;
  font-size: 2rem;
  text-align: left;
  color: #1c2525;
  opacity: 0.2 !important;
  transform: translateY(50px);
  transition: all 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}
.page01 p.loaded {
  opacity: 1 !important;
  transform: translateY(0px);
  transition: all 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.page02 {
  padding: 0px 80px;
  position: relative;
  display: flex;
  padding: 0px auto;
}
.page02 .personal {
  margin: 0 auto;
  padding-top: 40px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  position: relative;
}
.page02 .personal .personal01, .page02 .personal .personal02, .page02 .personal .personal03 {
  margin-bottom: 10px;
}
.page02 .personal .personal01 a, .page02 .personal .personal02 a, .page02 .personal .personal03 a {
  display: inline-block;
  background-color: #f4f4f4;
  position: relative;
  margin: 10px;
  border-radius: 20px;
}
.page02 .personal .personal01 a p, .page02 .personal .personal02 a p, .page02 .personal .personal03 a p {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  right: 15px;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
  text-decoration: none;
  color: #1c2525;
}
.page02 .personal .personal01 {
  display: flex;
  flex-wrap: wrap;
}
.page02 .personal .personal01 .pic {
  display: flex;
  justify-content: center;
}
.page02 .personal .personal01 .pic img {
  width: 100%;
  border-radius: 20px;
}
.page02 .personal .personal01 .Information {
  transition: all 0.5s;
}
.page02 .personal .personal01 .Information p {
  font-size: 1rem;
  line-height: 1.5;
  transition: all 0.5s;
}
.page02 .personal .personal01 .Information .JINJIN {
  font-size: 1.8rem;
}
.page02 .personal .personal01 .Information p:first-child {
  opacity: 0.8;
}
.page02 .personal .personal01 .Information p:last-child {
  opacity: 0.1;
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 20px;
  text-align: left;
  font-size: 1rem;
  text-decoration: none;
  color: #1c2525;
}
.page02 .personal .personal01 .Information:hover {
  background-color: #a1f0e6;
}
.page02 .personal .personal01 .Information:hover p:first-child {
  color: #a1f0e6;
}
.page02 .personal .personal01 .Information:hover p:last-child {
  opacity: 1;
  color: #1c2525;
}
.page02 .personal .personal01 .Work {
  transition: all 0.5s;
}
.page02 .personal .personal01 .Work p {
  font-size: 1rem;
  line-height: 1.5;
  transition: all 0.5s;
}
.page02 .personal .personal01 .Work .JINJIN {
  font-size: 1.8rem;
}
.page02 .personal .personal01 .Work p:first-child {
  opacity: 0.8;
}
.page02 .personal .personal01 .Work p:nth-child(2) {
  opacity: 0.1;
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 30px;
  text-align: left;
  font-size: 1rem;
  text-decoration: none;
  color: #1c2525;
}
.page02 .personal .personal01 .Work p:nth-child(3) {
  opacity: 0.1;
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 230px;
  text-align: left;
  font-size: 1rem;
  text-decoration: none;
  color: #1c2525;
}
.page02 .personal .personal01 .Work p:nth-child(4) {
  opacity: 0.1;
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 200px;
  text-align: left;
  font-size: 1rem;
  text-decoration: none;
  color: #1c2525;
}
.page02 .personal .personal01 .Work p:nth-child(5) {
  opacity: 0.1;
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 20px;
  text-align: left;
  font-size: 1rem;
  text-decoration: none;
  color: #1c2525;
}
.page02 .personal .personal01 .Work:hover {
  background-color: #a1f0c3;
}
.page02 .personal .personal01 .Work:hover p:first-child {
  color: #a1f0c3;
}
.page02 .personal .personal01 .Work:hover p {
  opacity: 1;
  color: #1c2525;
}
.page02 .personal .personal02 .About {
  transition: all 0.5s;
}
.page02 .personal .personal02 .About p {
  font-size: 1rem;
  line-height: 1.7;
  transition: all 0.5s;
}
.page02 .personal .personal02 .About .JINJIN {
  font-size: 1.8rem;
}
.page02 .personal .personal02 .About p:first-child {
  opacity: 0.8;
}
.page02 .personal .personal02 .About p:last-child {
  opacity: 0.1;
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 20px;
  text-align: left;
  font-size: 1rem;
  text-decoration: none;
  color: #1c2525;
}
.page02 .personal .personal02 .About:hover {
  background-color: #f0eca1;
}
.page02 .personal .personal02 .About:hover p:first-child {
  color: #f0eca1;
}
.page02 .personal .personal02 .About:hover p:last-child {
  opacity: 1;
  color: #1c2525;
}
.page02 .personal .personal02 .Hard {
  transition: all 0.5s;
}
.page02 .personal .personal02 .Hard p {
  font-size: 1rem;
  line-height: 1.5;
  transition: all 0.5s;
}
.page02 .personal .personal02 .Hard .JINJIN {
  font-size: 1.8rem;
}
.page02 .personal .personal02 .Hard p:first-child {
  opacity: 0.8;
}
.page02 .personal .personal02 .Hard p:nth-child(2) {
  opacity: 0.1;
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 30px;
  text-align: left;
  font-size: 1rem;
  text-decoration: none;
  color: #1c2525;
}
.page02 .personal .personal02 .Hard p:nth-child(3) {
  opacity: 0.1;
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 250px;
  text-align: left;
  font-size: 1rem;
  text-decoration: none;
  color: #1c2525;
}
.page02 .personal .personal02 .Hard p:nth-child(4) {
  opacity: 0.1;
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 80px;
  text-align: left;
  font-size: 1rem;
  text-decoration: none;
  color: #1c2525;
}
.page02 .personal .personal02 .Hard:hover {
  background-color: #f0c3a1;
}
.page02 .personal .personal02 .Hard:hover p:first-child {
  color: #f0c3a1;
}
.page02 .personal .personal02 .Hard:hover p {
  opacity: 1;
  color: #1c2525;
}
.page02 .personal .personal03 .Soft {
  transition: all 0.5s;
}
.page02 .personal .personal03 .Soft p {
  font-size: 1rem;
  line-height: 1.5;
  transition: all 0.5s;
}
.page02 .personal .personal03 .Soft .JINJIN {
  font-size: 1.8rem;
}
.page02 .personal .personal03 .Soft p:first-child {
  opacity: 0.8;
}
.page02 .personal .personal03 .Soft p:nth-child(2) {
  opacity: 0.1;
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 30px;
  text-align: left;
  font-size: 1rem;
  text-decoration: none;
  color: #1c2525;
}
.page02 .personal .personal03 .Soft p:nth-child(3) {
  opacity: 0.1;
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 250px;
  text-align: left;
  font-size: 1rem;
  text-decoration: none;
  color: #1c2525;
}
.page02 .personal .personal03 .Soft p:nth-child(4) {
  opacity: 0.1;
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 70px;
  text-align: left;
  font-size: 1rem;
  text-decoration: none;
  color: #1c2525;
}
.page02 .personal .personal03 .Soft:hover {
  background-color: #fbb5b5;
}
.page02 .personal .personal03 .Soft:hover p:first-child {
  color: #fbb5b5;
}
.page02 .personal .personal03 .Soft:hover p {
  opacity: 1;
  color: #1c2525;
}
.page02 .personal .personal03 .Project {
  transition: all 0.5s;
}
.page02 .personal .personal03 .Project p {
  font-size: 1rem;
  line-height: 1.7;
  transition: all 0.5s;
}
.page02 .personal .personal03 .Project .JINJIN {
  font-size: 1.8rem;
}
.page02 .personal .personal03 .Project p:first-child {
  opacity: 0.8;
}
.page02 .personal .personal03 .Project p:last-child {
  opacity: 0.1;
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 20px;
  text-align: left;
  font-size: 1rem;
  text-decoration: none;
  color: #1c2525;
}
.page02 .personal .personal03 .Project:hover {
  background-color: #bcd5f4;
}
.page02 .personal .personal03 .Project:hover p:first-child {
  color: #bcd5f4;
}
.page02 .personal .personal03 .Project:hover p:last-child {
  opacity: 1;
  color: #1c2525;
}

.page03 {
  padding: 0 70px;
  position: relative;
  display: flex;
}
.page03 .block {
  display: flex;
  flex-wrap: wrap;
}
.page03 .block a {
  position: relative;
  transition: transform 0.5s ease-in-out;
}
.page03 .block a img {
  width: 400px;
  height: 350px;
  position: relative;
  margin: 10px;
  border-radius: 20px;
  padding-top: 20px 20px;
  border: none;
}
.page03 .block a img:nth-child(1) {
  opacity: 1;
}
.page03 .block a img:nth-child(2) {
  position: absolute;
  opacity: 0;
  z-index: -3;
  top: 0;
  left: 0;
}
.page03 .block a p {
  position: absolute;
  z-index: 4;
  bottom: 0px;
  right: -5px;
  text-align: center;
  font-size: 1.5rem;
  background-color: #ffffff;
  color: #1c2525;
  padding: 30px 40px;
  border-radius: 20px 0 0 0;
}
.page03 .block a:hover img:nth-child(1) {
  opacity: 0;
}
.page03 .block a:hover img:nth-child(2) {
  opacity: 1;
}
.page03 .block a:nth-child(1):hover {
  transform: scale(0.95);
}
.page03 .block a:nth-child(1):hover img {
  border: 2px solid #4df2b6;
}
.page03 .block a:nth-child(1):hover p {
  color: #4df2b6;
  font-weight: 900;
}
.page03 .block a:nth-child(2):hover {
  transform: scale(0.95);
}
.page03 .block a:nth-child(2):hover img {
  border: 2px solid #8DA4A4;
}
.page03 .block a:nth-child(2):hover p {
  color: #8DA4A4;
}
.page03 .block a:nth-child(3):hover {
  transform: scale(0.95);
}
.page03 .block a:nth-child(3):hover img {
  border: 2px solid #414141;
}
.page03 .block a:nth-child(3):hover p {
  color: #414141;
}
.page03 .block a:nth-child(4):hover {
  transform: scale(0.95);
}
.page03 .block a:nth-child(4):hover img {
  border: 2px solid #fff896;
}
.page03 .block a:nth-child(4):hover p {
  color: #fff896;
}
.page03 .block a:nth-child(5):hover {
  transform: scale(0.95);
}
.page03 .block a:nth-child(5):hover img {
  border: 2px solid #ff5500;
}
.page03 .block a:nth-child(5):hover p {
  color: #ff5500;
}
.page03 .block a:nth-child(6):hover {
  transform: scale(0.95);
}
.page03 .block a:nth-child(6):hover img {
  border: 2px solid #E43130;
}
.page03 .block a:nth-child(6):hover p {
  color: #E43130;
}

.page04 {
  position: relative;
}
.page04 .future {
  display: flex;
  justify-content: center;
  width: 100%;
}
.page04 .future .me,
.page04 .future .work,
.page04 .future .Design {
  margin: 0px 10px;
  display: flex;
  background-color: #f4f4f4;
  width: 400px;
  height: 600px;
  text-align: center;
  justify-content: center;
  border-radius: 20px;
  position: relative;
}
.page04 .future .me h3,
.page04 .future .work h3,
.page04 .future .Design h3 {
  padding: 20px 0;
  align-content: center;
  opacity: 1;
  transition: all 0.5s;
}
.page04 .future .me .content,
.page04 .future .work .content,
.page04 .future .Design .content {
  position: absolute;
  top: 10px;
  left: 30px;
  text-align: center;
  opacity: 0;
  transition: all 0.5s;
}
.page04 .future .me .content h4,
.page04 .future .work .content h4,
.page04 .future .Design .content h4 {
  font-size: 2rem;
  padding: 120px 0px 20px;
}
.page04 .future .me .content ul,
.page04 .future .work .content ul,
.page04 .future .Design .content ul {
  padding: 15px 30px;
}
.page04 .future .me .content ul li,
.page04 .future .work .content ul li,
.page04 .future .Design .content ul li {
  font-size: 1rem;
  text-align: left;
}
.page04 .future .me {
  border: 2px solid #4f7e58;
}
.page04 .future .me h3 {
  color: #4f7e58;
}
.page04 .future .me:hover {
  background-color: #4f7e58;
  color: #FFFFFF;
}
.page04 .future .me:hover h3 {
  opacity: 0;
}
.page04 .future .me:hover .content {
  opacity: 1;
}
.page04 .future .work {
  border: 2px solid #E43130;
}
.page04 .future .work h3 {
  color: #E43130;
}
.page04 .future .work:hover {
  background-color: #E43130;
  color: #FFFFFF;
}
.page04 .future .work:hover h3 {
  opacity: 0;
}
.page04 .future .work:hover .content {
  opacity: 1;
}
.page04 .future .Design {
  border: 2px solid #1d7ba0;
}
.page04 .future .Design h3 {
  color: #1d7ba0;
}
.page04 .future .Design:hover {
  background-color: #1d7ba0;
  color: #FFFFFF;
}
.page04 .future .Design:hover h3 {
  opacity: 0;
}
.page04 .future .Design:hover .content {
  opacity: 1;
}

@media screen and (min-width: 1500px) and (max-width: 1980px) {
  body {
    max-width: 1600px;
  }
  .future {
    justify-content: flex-start;
  }
  .page01, .page02, .page03 {
    left: 250px;
  }
  .page04 {
    left: 300px;
  }
}/*# sourceMappingURL=index-style.css.map */