$dark: #1c2525;
$white: #FFFFFF;
$grey: #f4f4f4;
$tetsuonando_black: #263030;
$october_sky: #8DA4A4;
$maui_mist: #EDF3F3;
$red: #E43130;
$dark_red: #b12a2a;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto';
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #4df2b6;
    opacity: 1;
    
}

#menu {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 2px solid #3ec795;
    z-index: 3;
    list-style: none;
    padding: 5px 60px;
    background-color: #4df2b6;
  
    li {
      text-align: center;
      padding: 10px 0px;
  
      a {
        color: #3ec795;
        text-decoration: none;
        font-size: 1.05rem;
        transition: all 0.5s;
      }
      &:hover {
        a{
            color: $dark;
            font-weight: 900;
        }
        
      }
    }
  }

.slide{
    max-width: 1440px;
    position: relative;
    background-color: #fff;
    height: auto;
    margin: 100px 40px 20px;
    display: flex;
    flex-direction: column;
    transition: all 1s ease-in;
    opacity: 0;
    top: 100px;
    
    table {
        text-align: left;
        width: 100%;
        border-collapse: collapse;
        font-family: sans-serif;
        font-size: 1rem;
        letter-spacing: 1px;
        tr{
            th, td {
                padding: 20px 20px;
                font-size: 1.1rem;
            }
        }
        tr:first-child{
            border-bottom: 1.5px solid $dark;
        }
      
    } 
    
    .img{
        width: 100%;
        height: auto;
        background-color: #8DA4A4;
        display: flex;
        .img01{
            width: 100%;
            background: #000;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                transition: transform 0.3s;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
        .img02{
            width: 50%;
            height: 100%;
            background: #764848;
            display: flex;
            flex-wrap: wrap;
            img{
                height: 50%;
                width: 33.3%;
                
            }
        }

    }
    
}
.slide_else{
    max-width: 1440px;
    position: relative;
    background-color: #fff;
    height: auto;
    margin: 100px 40px 20px;
    display: flex;
    flex-direction: column;
    
    table {
        text-align: left;
        width: 100%;
        border-collapse: collapse;
        font-family: sans-serif;
        font-size: 1rem;
        letter-spacing: 1px;
        tr{
            th, td {
                padding: 20px 20px;
                font-size: 1.1rem;
            }
        }
        tr:first-child{
            border-bottom: 1.5px solid $dark;
        }
      
    } 
    
    .img{
        width: 100%;
        height: auto;
        background-color: #8DA4A4;
        display: flex;
        .img01{
            width: 100%;
            background: #000;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                transition: transform 0.3s;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
        .img02{
            width: 50%;
            height: 100%;
            background: #764848;
            display: flex;
            flex-wrap: wrap;
            img{
                height: 50%;
                width: 33.3%;
                
            }
        }

    }
    
}
.slide.active{
    opacity: 1;
    top: 0;
}


